<header>
    <nav>
        <!-- main navbar -->
        <article class="navbar-list">
                <ul class="navbar-section">
                    <li>
                        <button type="button" class="btn-menu">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="flex md:mr-1 -mt-1 md:inline"><path d="M7.5 12.5h30a1.5 1.5 0 010 3h-30a1.5 1.5 0 010-3zm0 10h33a1.5 1.5 0 010 3h-33a1.5 1.5 0 010-3zm0 10h22a1.5 1.5 0 010 3h-22a1.5 1.5 0 010-3z" fill="#FFFFFF"></path></svg> 
                            Menu
                        </button>
                    </li>
                    <li><a href="/"><img src="/assets/fundawonen-logo.svg" alt="funda-logo"></a></li>
                </ul>

                <ul class="navbar-section">
                    <li>
                        <a href="#">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="flex md:mr-1 -mt-1 md:inline"><path d="M34.718 23.938l3 3.332v15.326a1.5 1.5 0 01-1.497 1.5H11.218a1.5 1.5 0 01-1.5-1.5V27.271l3-3.332v17.157h22V23.938zM23.735 4.998c.082.002.163.02.244.035.1.018.2.036.296.074.099.04.19.103.28.166.069.047.14.09.2.15.026.023.06.033.084.06L42.05 24.6a1.5 1.5 0 01-2.229 2.008l-2.106-2.339-3-3.332-11-12.216-11 12.217-3 3.332-2.101 2.333a1.5 1.5 0 01-2.23-2.007L22.598 5.48c.028-.032.068-.045.098-.073.039-.036.083-.06.125-.093.116-.089.237-.167.368-.217.06-.023.122-.032.184-.046.12-.029.24-.052.362-.052z" fill="#FFFFFF"></path></svg>
                            Mijn huis
                        </a>
                    </li>
                    <li>
                        <a href="/favorites">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="flex md:mr-1 -mt-1 md:inline"><path d="M24 9a8 8 0 108 8 8 8 0 00-8-8zm0 13a5 5 0 115-5 5 5 0 01-5 5z" fill="#FFFFFF"></path><path d="M24 3a21 21 0 1021 21A21 21 0 0024 3zm-9 36.56V35c0-2.45 2.12-4.48 4.91-4.91A7.16 7.16 0 0121 30h6a7.16 7.16 0 011.09.09C30.88 30.52 33 32.55 33 35v4.56a17.85 17.85 0 01-18 0zm21-2.19V34.5a1.48 1.48 0 00-.06-.4c-.5-4-4.31-7.1-8.94-7.1h-6c-4.63 0-8.44 3.11-8.94 7.1a1.48 1.48 0 00-.06.4v2.88a18 18 0 1124 0z" fill="#FFFFFF"></path></svg>
                            Mohammed
                        </a>
                    </li>
                </ul>
        </article>

        <!-- toggled navbar -->
        <article class="toggled-navbar-list">
                <ul class="toggled-nav-top">
                    <li>
                        <button type="button" class="btn-menu">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="mr-1 -mt-1"><path d="M7.5 12.5h30a1.5 1.5 0 010 3h-30a1.5 1.5 0 010-3zm0 10h33a1.5 1.5 0 010 3h-33a1.5 1.5 0 010-3zm0 10h22a1.5 1.5 0 010 3h-22a1.5 1.5 0 010-3z" fill="#333333"></path></svg>
                            Menu
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn-nav-remove"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M26.12 24l10.61-10.61a1.5 1.5 0 000-2.12 1.5 1.5 0 00-2.12 0L24 21.88 13.39 11.27a1.5 1.5 0 10-2.12 2.12L21.88 24 11.27 34.61a1.5 1.5 0 102.12 2.12L24 26.12l10.61 10.61a1.5 1.5 0 002.12 0 1.5 1.5 0 000-2.12z" fill="#666666"></path></svg></button>
                    </li>
                </ul>

                <ul class="toggled-nav-menu">
                    <li>Kopen</li>
                    <li>Huren</li>
                    <li>Verkopen</li>
                </ul>
        </article>
    </nav>
</header>