/* ================================================ */
/* root */
/* ================================================ */
:root {
    --white: #FFFFFF;
    --web-orange: #F7A100;
    --regent-blue: #E6F2F7;
    --lochmara: #0071B3;
    --mine-shaft: #333333;
    --silver: #CCCCCC;
    --orange-darker: #DE9000;
    --bahama-blue: #006199;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--mine-shaft);
}
/* ================================================ */
/* typography */
/* ================================================ */
.favorite-title {
    color: var(--web-orange);
}

.favorite-description {
    margin-bottom: 1em;
}
/* ================================================ */
/* buttons */
/* ================================================ */
.btn-primary {
    background-color: var(--lochmara);
    color: var(--white);
    outline: none;
    border: none;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

.btn-secondary {
    background-color: var(--web-orange);
    color: var(--white);
    outline: none;
    border: none;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

.btn-primary:hover {
    background-color: var(--bahama-blue);
}

.btn-secondary:hover {
    background-color: var(--orange-darker);
}
/* ================================================ */
/* navbar */
/* ================================================ */
nav {
    background-color: var(--web-orange);

    & .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 1em;

        & li {
            color: var(--white);

            & img {
                width: 5em;
                height: auto;
            }

            & .navbar-section {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                & li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1em;
                }
            }
        }
    }
}
/* ================================================ */
/* main */
/* ================================================ */
main {
    padding: 1em;
}
/* ================================================ */
/* member-list */
/* ================================================ */
.member-section {
    margin-bottom: 1em;

    & .member-list {
        background-color: var(--regent-blue);
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        list-style-type: none;
        border-radius: 0.5em;
        padding: 1em;
        overflow-x: auto;

        & li:last-child {
            color: var(--lochmara);
            width: 4em;
            text-align: center;
        }

        & li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .profile-container {
                width: 4em;
                height: 4em;
                border-radius: 50%;
                background-color: var(--lochmara);
                overflow: hidden;
    
                & img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
    
            & p {
                text-align: center;
            }
        }
    }
}
/* ================================================ */
/* search-bar */
/* ================================================ */
.search-bar {
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.1em solid var(--web-orange);

    & input {
        background-color: var(--white);
        border: 0.1em solid var(--silver);
        padding: 1em;
        width: calc(75% - 0.5em);
    }

    & button {
        width: 25%;
    }
}
/* ================================================ */
/* sort & add */
/* ================================================ */
.sort-add-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;

    & select {
        background-color: var(--white);
        border: 0.1em solid var(--silver);
        padding: 1em;
        margin-right: 1em;
        width: 50%;
    }

    & button {
        width: 50%;
    }
}
/* ================================================ */
/* house-list */
/* ================================================ */
.house-section {
    & .house-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;

        & li {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: start;
            width: 100%;
            margin-bottom: 1em;
            
            & .col {
                width: 100%;

                & .image-container {
                    width: 100%;
                    height: 12em;
                    background-color: var(--silver);
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    overflow: hidden;
                    position: relative;

                    & img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    & .new-badge {
                        position: absolute;
                        top: 1em;
                        left: 1em;
                        background-color: var(--web-orange);
                        color: var(--white);
                        padding: 0.5em;
                        border-radius: 0.2em;
                    }
                }

                & .title-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    & .street {
                        font-size: 1em;
                        & a {
                            color: var(--lochmara);
                            text-decoration: none;
                        }
                    }

                    & .btn-remove {
                        width: 2em;
                        height: 2em;
                        background: none;
                        outline: none;
                        border: none;
                        background-image: url('/assets/remove.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                & .price {
                    font-weight: bold;
                }

                & .agent {
                    color: var(--lochmara);
                }

                & .rating-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    list-style-type: none;
                    margin-bottom: 1em;

                    & .star {
                        color: var(--silver);
                        margin-bottom: 0;
                        margin-right: 1em;
                        background-image: url('/assets/star.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 1.5em;
                        height: 1.5em;
                    }

                    & .active {
                        background-image: url('/assets/star-fill.svg');
                        color: var(--web-orange);
                    }
                }

                & .member-liked-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    overflow-x: auto;

                    & li {
                        display: flex;
                        flex-direction: column;

                        & .profile-container {
                            width: 2em;
                            height: 2em;
                            border-radius: 50%;
                            background-color: var(--lochmara);
                            overflow: hidden;

                            & img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                    }
                }

                & button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}